/*--------------------------------------------------
input=timeのカスタマイズ（アイコンを非表示に設定）
--------------------------------------------------*/
input[type="time"] {
    position: relative;
    padding-left: 20px;
    &::after {
        font-family: FontAwesome;
        content: "\f017";
        color: #fff;
    }
    &.calculatetimes::after {
        color: #f2f2f2;
    }
    &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
        z-index: 100;
    }
}

/*--------------------------------------------------
ヘッダー
--------------------------------------------------*/
.header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

/*--------------------------------------------------
コンテンツ
--------------------------------------------------*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    overflow: auto;
    height: 94vh;
    /* メッセージエリア
    ----------------------------------------*/
    &__message {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 4rem;
        width: 1500px;
        font-size: 20px;
    }
    &__title {
        font-size: 1.5rem;
        padding-top: 2rem;
        width: 500px;
    }
    /* 勤務時間の調整エリア
    ----------------------------------------*/
    &__form {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 500px;
        &-title {
            padding-top: 3.5rem;
            padding-bottom: 0.5rem;
            font-size: 1.25rem;
            font-weight: bold;
            border-bottom: 1.75px solid #19191b;
        }
        &-inputarea {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 1.5rem;
            width: 400px;
            font-size: 1rem;
            &-allow {
                color: #61646b;
            }
            label {
                padding-left: 1rem;
                font-weight: bold;
            }
            input {
                width: 100px;
                height: 40px;
                margin-right: 1rem;
                border: 1px solid #19191b;
                border-radius: 5px;
                font-size: 1.15rem;
                text-align: center;
            }
            input[readonly] {
                background-color: #f2f2f2;
            }
            &.breaktime {
                padding-bottom: 2rem;
            }
        }
        &-inputsubarea {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            font-size: 1rem;
            &-button {
                padding-bottom: 1rem;
                margin-right: auto;
            }
            &-time {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1.75rem;
                width: 350px;
                font-size: 1rem;
                label {
                    width: 70px;
                    font-weight: bold;
                }
                input {
                    width: 100px;
                    height: 40px;
                    border: 1px solid #19191b;
                    border-radius: 5px;
                    font-size: 1.15rem;
                    text-align: center;
                }
                button {
                    margin-left: 0.5rem;
                    // 標準のスタイルをリセット
                    border: none;
                    box-shadow: none;
                    outline: none;
                    font-family: inherit;
                    cursor: pointer;
                    // カスタムスタイル
                    background-color: #da4040;
                    color: #f2f2f2;
                    border-radius: 5px;
                }
            }
        }
        &-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            margin-bottom: 5rem;
            button {
                margin-left: 1rem;
                margin-right: 1rem;
                padding: 0.75rem;
                width: 100px;
                border-radius: 5px;
                // 標準のスタイルをリセット
                border: none;
                box-shadow: none;
                outline: none;
                font-family: inherit;
                cursor: pointer;
                // カスタムスタイル
                background: #214be0;
                color: #f2f2f2;
                font-size: 1rem;
            }
        }
    }
}
