.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        height: 500px;
        border-radius: 5px;
        margin-top: 5rem;
        padding: 2rem;
        &-error {
            color: #da4040;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        &-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        &-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 2rem;
            align-items: center;
            input {
                background-color: #fafafa;
                width: 400px;
                height: 3rem;
                border: 2px solid #909090;
                border-radius: 5px;
                padding: 0.5rem;
                font-size: 1rem;
            }
            input::placeholder {
                color: #909090;
                font-weight: bold;
            }
        }
        &-button {
            button {
                // 標準のスタイルをリセット
                border: none;
                box-shadow: none;
                outline: none;
                font-family: inherit;
                cursor: pointer;
                // カスタムスタイル
                padding: 0.5rem;
                width: 400px;
                height: 3rem;
                border-radius: 5px;
                background: #214be0;
                color: #f2f2f2;
                font-size: 1rem;
                cursor: pointer;
                text-align: center;
            }
        }
    }
}
