.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        border-radius: 5px;
        margin-top: 5rem;
        padding: 2rem;
        position: relative;
        &-error-message {
            color: #da4040;
            font-size: 1rem;
            font-weight: bold;
            position: absolute;
            top: -1rem;
        }
        &-error {
            color: #da4040;
            font-size: 0.75rem;
            font-weight: bold;
            align-self: flex-start;
            padding-top: 3.25rem;
            padding-left: 1.25rem;
            position: absolute;
            z-index: 1;
        }
        &-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        &-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 2rem;
            align-items: center;
            position: relative;
            input {
                background-color: #fafafa;
                width: 400px;
                height: 3rem;
                border: 2px solid #909090;
                border-radius: 5px;
                padding: 0.5rem;
                font-size: 1rem;
                z-index: 2;
            }
            input::placeholder {
                color: #909090;
                font-weight: bold;
            }
        }
        &-button {
            button {
                // 標準のスタイルをリセット
                border: none;
                box-shadow: none;
                outline: none;
                font-family: inherit;
                cursor: pointer;
                // カスタムスタイル
                padding: 0.5rem;
                width: 400px;
                height: 3rem;
                border-radius: 5px;
                background: #214be0;
                color: #f2f2f2;
                font-size: 1rem;
                cursor: pointer;
                text-align: center;
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
        align-items: center;
        &-message {
            padding-top: 7rem;
            padding-bottom: 1rem;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }
        p {
            margin: 0;
            padding-top: 1rem;
            font-size: 1rem;
            font-weight: bold;
            color: #909090;
            text-align: center;
        }
        a {
            padding-bottom: 1rem;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
            color: #214be0;
            text-align: center;
        }
    }
}
