@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*--------------------------------------------------
    アラートメッセージエリア
--------------------------------------------------*/
.alert {
    &__success {
        padding: 20px 30px;
        border-color: #badbcc;
        background-color: #d1e7dd;
        color: #0f5132;
        animation: fadeOut 8s;
        animation-fill-mode: forwards; /* アニメーション終了後も最終フレームを維持 */
        position: absolute; /* 絶対位置指定 */
        top: 0px; /* 他のコンテンツの上に配置 */
        left: 0; /* 他のコンテンツの左に配置 */
        width: 100%; /* 横幅を親要素いっぱいに */
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*--------------------------------------------------
    メッセージエリア
    --------------------------------------------------*/
    &__message {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 4rem;
        width: 1500px;
        font-size: 20px;
    }
    &__title {
        font-size: 1.25rem;
        ul {
            display: flex;
            padding: 0;
            justify-content: center;
            align-items: center;
            list-style: none;
        }
        li {
            padding-left: 1rem;
            padding-right: 1rem;
            &:has(a) {
                border: 1px solid #214be0;
                background-color: #fafafa;
            }
        }
        a {
            text-decoration: none;
            color: #214be0;
            display: block;
        }
    }
    /*--------------------------------------------------
    日付エリア
    --------------------------------------------------*/
    &__table {
        padding-top: 1rem;
        padding-bottom: 4rem;
        align-items: center;
        height: 450px;
        &-container {
            margin: 0;
            width: 1000px;
            border-collapse: collapse; /* セルの境界線を結合 */
            th,
            td {
                border: none; /* すべての境界線を非表示 */
                border-bottom: 1px solid #909090;
                padding: 15px;
                text-align: center;
            }
            th {
                border-top: 1px solid #909090;
            }
            td {
                white-space: normal;
            }
        }
        &-tr {
            &-weekend {
                background-color: #909090;
            }
        }
        &-td {
            &-name {
                width: 175px;
            }
            &-time {
                width: 180px;
            }
        }
    }
    /*--------------------------------------------------
    ページネーション
    --------------------------------------------------*/
    &__page {
        display: flex; /* アイテムを横に配置 */
        justify-content: space-between; /* アイテムを均等に配置 */
        align-items: center; /* 垂直方向の中央寄せ */
        padding: 10px;
        height: 50px;
        &-nav {
            display: flex; /* アイテムを横に配置 */
            align-items: center; /* 垂直方向の中央寄せ */
            margin: 0;
            font-size: 1rem;
            ul {
                list-style: none; /* リストスタイルを無効にする */
                padding: 0; /* リストの内側の余白をゼロにする */
                display: flex; /* フレックスコンテナを使用してアイテムを横に配置 */
                justify-content: space-between; /* アイテムを均等に配置 */
                flex-grow: 1; /* 残りのスペースを均等に分配 */
            }
            li {
                width: 3.5rem;
                padding: 1rem; /* 内側の余白を追加し、枠内の隙間を調整 */
                border: 1px solid #909090; /* 外枠の線を表示 */
                margin-right: -1px; /* 重なる部分が太くなるのを解消 */
                background-color: #fafafa;
                color: #214be0; /* リンクの文字色を変更 */
                text-align: center;
            }
            li a {
                text-decoration: none; /* 下線を削除 */
                color: #214be0; /* リンクの文字色を変更 */
            }
            li.active {
                background-color: #214be0; /* 背景色を黒に */
                color: #fafafa; /* 文字色を白に */
                border: none; /* 下線を削除 */
            }
        }
    }
}
